<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="RepeatCount" value="0" />   <!--int类型: Gif动图的重复次数，默认为0:无限次的重复-->
    <add key="Size" value="" />  <!--string类型: Gif动图的大小（像素）, 默认为空:大小由图片帧中最大的宽度和高度决定, 若设置值，格式为"width,height",中间用','分割，两个值为int类型-->
    <add key="IsLockAspect" value="False" />   <!--bool类型: 原图的大小改变时，是否保持等比例放缩(True|False)-->
    <add key="Images" value="1.jpg|2.jpg|3.jpg|4.jpg|5.jpg|6.jpg" />   <!--string类型: 以'|'分割多张图片名称，文件名顺序即是动态图每一帧的切换顺序-->
    <add key="Delays" value="500" />       <!--string类型: Gif动图间隔时间（毫秒）, 与上面images一一对应（仍旧使用'|'分割），但可以省略部分后面的图片帧的延迟时间，省略的都与最后的一个值相同，如"500"与"500|500|500|500|500"是等价的-->
  </appSettings>
</configuration>